html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

div.poke-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

div.entry,
div.finder {
  background-color: #333333;
  padding: 2rem;
  border: 3px solid white;
  border-radius: 6px;
  margin: 5px;
}

div.entry > label,
div.entry > p {
  margin: 10px 0;
  text-align: center;
}

div.entry > input,
div.entry > button {
  display: block;
  margin: 10px auto;
}

div.finder img {
  margin: -15px;
}

div.finder p {
  margin: 0;
}

ul {
  margin: 0;
}

td {
  vertical-align: top;
}
